* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10%; */
  min-height: 90px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
.navbar-menu-container {
  display: none;
}
.nav-logo-container img {
  width: 150px;
  height: 86px;
}
.navbar-links-container a {
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
  color: #8f8c8c;
  font-size: 1rem;

  font-weight: 600;
  align-items: right;
}
.navbar-links-container a.active {
  color: #585454;
}

.primary-button {
  padding: 10px 15px 10px 15px;
  background-color: rgb(87, 87, 255);
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
  color: #ffffff !important;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(113, 113, 252);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-container {
  border-top: groove 1px #fff9f9;
  border-bottom: none;
  margin-top: 1% !important;
  background-color: #ffffff;

  /* box-shadow: rgba(0, 0, 0, 0.1) 5px 2px 3px; */
}
.slider {
  transition: 10s ease;
}
.counse {
  margin: 0;
  padding-bottom: 12%;
}
.counse button {
  font-size: larger;
  font-weight: 600;
  background-color: #ffb413;
  color: #ffffff;
  border: none;
}
.start {
  margin-top: 5.5%;
}
.start-home {
  margin-top: 0.5%;
}
.card {
  border: none !important;
  margin-top: 1rem;
}
.second-container {
  padding-left: 4%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.footer {
  color: #ffffff !important;
  background-color: #103b2b;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

ul .nav-item .nav-link {
  color: #ffffff !important;
}
.student-form {
  margin: 2%;
  padding: 2%;
  color: #000;
}

.form-row,
.img-row,
.banner-row {
  padding: 4%;
}
.form-label,
.termLabels {
  font-size: small;
}
.student-submit {
  width: 200px !important;
  margin-left: 1%;
}
.subjects-container {
  margin: 2% 2% 0 2%;
}

.subject-header {
  font-weight: 600 !important;
  font-size: large !important;
  border-bottom: solid 2px #e3e0e0;
}

.img-row {
  background: url("./assets/tutorr.avif");
  background-size: cover;
  border-top-left-radius: 40%;
}
.img2-row {
  background: url("./assets/tutorA.jpg");
  background-size: cover;
  border-top-left-radius: 40%;
}
.tutor-why {
  color: #ffffff;
  background-color: #ffb413;
}
.why-card .card {
  background: transparent !important;
}
.why-card .card .d-flex,
.third-hero-card {
  background-color: #fec629;
  border-radius: 5%;
  color: #ffffff;
}
.sign-form {
  padding: 3%;
}
.login-button-div {
  display: flex;
  justify-content: center;
}
.login-button {
  width: 40%;
  border-radius: 1px;
}
.tutor-signin form {
  padding: 4%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
}
.loader {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.third-hero {
  background-color: #ffb413;
  padding: 5%;
  color: #ffffff;
}
.btutor a {
  color: #000;
  text-decoration: none;
}
.subs .col-lg-2 button,
.subs2 .col-lg-2 button {
  width: 90%;
}
.subs2 {
  margin: 1% 3% 1% 1%;
}
.image-sec {
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;

  background-image: url("./assets/stude.webp");
  width: 570px;
  height: 500px;
  background-size: cover;
}

/* ---------------------------------------------------------------------------------- */

@media (max-width: 1000px) {
  .navbar-links-container a {
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
    margin-left: 60%;
  }
}
